.signup {
  display: block;
  max-width: 40rem;
  width: 100%;
  border: 1px solid black;
  margin: 6rem auto;

  .wrap {
    padding: 10px 10px;

    h2 {
      text-align: center;
    }

    .formWrap {
      margin: 3rem auto 0;

      .list_errors {
        color: red;
      }
    }

    .socialSignin {
      margin: 0.5rem auto 0;
    }
  }
}
